<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Attendance Screen</title>
	<style>
		{% include css/style.css %}
		{% include css/bootstrap.min.css %}
	</style>

  </head>
  <body>
	<nav class="navbar navbar-dark bg-dark">
	  <p class="navbar-brand">Attendance</a>
	</nav>
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<form name="classes">
					<input class="radio-custom" type="radio" id="IN790" name="class" value="0">
					<label class="person-list" id="sbp0" for="IN790">
						IN790
					</label>

					<input class="radio-custom" type="radio" id="IN750" name="class" value="1">
					<label class="person-list" id="sbp1" for="IN750">
						IN750
					</label>

					<input class="radio-custom" type="radio" id="IN760" name="class" value="2">
					<label class="person-list" id="sbp2" for="IN760">
						IN760
					</label>

					<input class="radio-custom" type="radio" id="IN700" name="class" value="3">
					<label class="person-list" id="sbp3" for="IN700">
						IN700
					</label>
				</form>
			</div>
			<div class="col-md-8">
			<table class="table">
			  <thead class="thead-dark">
				<tr>
				  <th scope="col">#</th>
				  <th scope="col">Name</th>
				  <th scope="col">1</th>
				  <th scope="col">2</th>
				  <th scope="col">3</th>
				  <th scope="col">4</th>
				</tr>
			  </thead>
			  <tbody>

			  </tbody>
			</table>
			</div>
			<div class="col-md-2">
				<img class="user" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="blank user" style="height: 160px;"/>
				<p>Name:</p>
				<p>Age:</p>
				<p>Class:</p>
				<p>Enrolled:</p>
				<p>Ethnicity:</p>
				<p>Phone:</p>
				<p>Status:</p>
			</div>
		</div>
	</div>

    <script>
        {% include js/scripts.js %}
		{% include js/jquery.min.js %}
		{% include js/bootstrap.min.js %}
    </script>
  </body>
</html>