<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Attendance Screen</title>
	<style>
		{% include css/style.css %}
		{% include css/bootstrap.min.css %}
	</style>
	<script type='text/javascript'>
	function colorChanger(el){
		console.log(el.style.backgroundColor);
		switch (el.style.backgroundColor) {
			case "green":
				el.style.backgroundColor = "red";
				el.innerHTML = "s";
				break;
			case "red":
				el.style.backgroundColor = "orange";
				el.innerHTML = "a";
				break;
			case "orange":
				el.style.backgroundColor = "yellow";
				el.innerHTML = "e";
				break;
			case "yellow":
				el.style.backgroundColor = "gray";
				el.innerHTML = "l";
				break;
			default:
				el.style.backgroundColor = "green";
				el.innerHTML = "p";
				break;
		}
	}

	</script>
  </head>
  <body>
	<nav class="navbar navbar-dark bg-dark">
	  <p class="navbar-brand">Attendance</a>
	</nav>
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<form name="classes">
					<input class="radio-custom" type="radio" id="IN790" name="class" value="0" checked>
					<label class="person-list" id="sbp0" for="IN790">
						IN790
					</label>

					<input class="radio-custom" type="radio" id="IN750" name="class" value="1">
					<label class="person-list" id="sbp1" for="IN750">
						IN750
					</label>

					<input class="radio-custom" type="radio" id="IN760" name="class" value="2">
					<label class="person-list" id="sbp2" for="IN760">
						IN760
					</label>

					<input class="radio-custom" type="radio" id="IN700" name="class" value="3">
					<label class="person-list" id="sbp3" for="IN700">
						IN700
					</label>
				</form>
			</div>
			<div class="col-md-8">
			<table class="table" id="class-table">
				<h1 id="class-name">Attendance</h1>
			  <thead class="thead-dark">
				<tr>
				  <th scope="col">#</th>
				  <th scope="col">Name</th>
				  <th class="att" scope="col">1</th>
				  <th class="att" scope="col">2</th>
				  <th class="att" scope="col">3</th>
				  <th class="att" scope="col">4</th>
				  <th class="att" scope="col">5</th>
				  <th class="att" scope="col">6</th>
				  <th class="att" scope="col">7</th>
				  <th class="att" scope="col">8</th>
				  <th class="att" scope="col">9</th>
				  <th class="att" scope="col">10</th>
				  <th class="att" scope="col">11</th>
				  <th class="att" scope="col">12</th>
				  <th class="absent" scope="col">Days Absent</th>
				</tr>
			  </thead>
			  <tbody id="class-data">
			  </tbody>
			</table>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="float: right;">
				Save Attendance
			</button>
			<p class="legend">Legend</p>
			<ul style="list-style: none;">
				<li>P: Present</li>
				<li>E: Explained</li>
				<li>S: Sick</li>
				<li>L: Late</li>
				<li>A: Absent</li>
			</ul>
			</div>
			<div class="col-md-2">
				<img class="user" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="blank user" style="height: 160px;"/>
				<p>Name:</p>
				<p>Age:</p>
				<p>Class:</p>
				<p>Enrolled:</p>
				<p>Ethnicity:</p>
				<p>Phone:</p>
				<p>Status:</p>
			</div>
		</div>
	</div>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Save Attendance?</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<p>Do you want to save attendance for this class?</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
		  </div>
		</div>
	  </div>
	</div>
    <script>
        {% include js/scripts.js %}
		{% include js/jquery.min.js %}
		{% include js/bootstrap.min.js %}
    </script>
  </body>
</html>